 .box .content .ddw_r .table_everwin tr td{ line-height:50px;}  
 .box .content .ddw_r .table_everwin tr .rate_money_format{ line-height:20px;} 
 .box .content .ddw_r .table_everwin tr .limit_info{ line-height:20px; padding:5px 15px;} 
 .box .content .ddw_r .table_everwin tr .rate_money_format { padding:13px 15px;}
 .box .content .ddw_r .table_everwin tr .rate_money_padding{padding: 8px 15px;line-height: 30px; height:30px;}